name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  release-build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          [
            ubuntu-24.04,
            ubuntu-24.04-arm,
            ubuntu-22.04,
            ubuntu-22.04-arm,
            # macos-15,
            # macos-15-intel,
            # windows-latest,
            # windows-11-arm,
          ]
        py: ["3.11-dev", "3.12-dev", "3.13-dev", "3.14-dev"]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}

      - name: Build release distributions
        run: |
          pip install --user pipx
          pip install Cython
          pipx ensurepath
          pipx install poetry
          poetry install --no-interaction --no-root
          make build_lib OS=${{ matrix.os }}
          poetry build --format wheel

      - name: Upload distributions
        uses: actions/upload-artifact@v6
        with:
          name: dist-${{ matrix.os }}-${{ matrix.py }}
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write

    environment:
      name: pypi

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v6
        with:
          pattern: dist-*
          merge-multiple: true
          path: dist/

      - name: List Dists
        run: ls -lisa dist/

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
